.movie {
  overflow: hidden;
  min-width: 200px;
  position: relative;
}

.movie img {
  width: 100%;
  display: block;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.movie .overlay {
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      color-stop(0, rgba(0, 0, 0, 0.75)),
      to(transparent));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75), transparent);
  padding: 20px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.125s ease;
  transition: opacity 0.125s ease;
}

.movie .overlay .title {
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.movie .overlay .rating {
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease 0.125s;
  transition: opacity 0.25s ease 0.125s;
}

.movie .overlay .plot {
  font-size: 14px;
  margin-top: 100px;
  font-weight: 500;
  line-height: 1.6;
  height: 8em;
  opacity: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: margin 0.25s ease 0.125s, opacity 0.25s ease 0.25s;
  transition: margin 0.25s ease 0.125s, opacity 0.25s ease 0.25s;
}

.movie:hover img {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.movie:hover .overlay {
  opacity: 1;
  pointer-events: all;
}

.movie:hover .plot {
  margin-top: 10px;
  opacity: 1;
}

.movie:hover .listToggle,
.movie:hover .rating,
.movie:hover .title {
  opacity: 1;
}

.listToggle {
  --size: 32px;
  border: 2px solid hsla(0, 0%, 100%, 0.2);
  width: var(--size);
  height: var(--size);
  font-size: var(--size) / 2;
  border-radius: var(--size);
  overflow: hidden;
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0;
}

.listToggle:hover {
  border: 2px solid var(--white);
}

.listToggle:hover div {
  top: -32px;
}

.listToggle[data-toggled="true"] {
  background: var(--red);
  border: 2px solid var(--red);
}

.listToggle[data-toggled="true"] div {
  top: -32px;
}

.listToggle div {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px * 2;
  width: 32px;
  -webkit-transition: 0.125s ease;
  transition: 0.125s ease;
}

.listToggle div i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
}